{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="formulario">
        <h1>Registro</h1>
        <form method="post" action="confirmacion.html">
            <div class="registrarse">
                Te registraste de manera exitosa!!, inicia sesion <a href="login.html">aqui</a>
            </div>
        </form>

    </div>
</body>
</html>